name: Build & Push Docker Images

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # ================= BACKEND IMAGE =================
      - name: Build & Push Backend
        uses: docker/build-push-action@v4
        with:
          context: ./playForYou-Backend
          file: ./docker_files/dockerfile.backend
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/backend:latest

      # ================= FRONTEND IMAGE =================
      - name: Build & Push Frontend
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker_files/dockerfile.frontend
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/frontend:latest
